<div class="container">
<div *ngIf="currentProduct" class="edit-form">

<h1>Edit product name: {{currentProduct.name}}</h1>

<div class="form-group">
    <label for="title">Name</label>
    <input
    type="text"
    class="form-control"
    id="name"
    [(ngModel)]="currentProduct.name"
    value="currentProduct.name"
    name="name"/>
</div>

<div class="form-group">
    <label for="title">Description</label>
    <input
    type="text"
    class="form-control"
    id="description"
    [(ngModel)]="currentProduct.description"
    value="currentProduct.description"
    name="description"/>
</div>

<div class="form-group">
    <label for="title">Price</label>
    <input
    type="number"
    class="form-control"
    id="price"
    [(ngModel)]="currentProduct.price"
    value="currentProduct.price"
    name="price"/>
</div>

<div class="form-group">
    <label for="number">Quantity</label>
    <input
    type="number"
    class="form-control"
    id="quantity"
    value="currentProduct.quantity"
    [(ngModel)]="currentProduct.quantity"
    name="quantity"/>
</div>

<button type="submit" class="btn btn-success" (click)="updateProduct(currentProduct._id)">Update</button>

</div>
</div>
