<div class="container">
  <div class="submit-form">
    <div *ngIf="!submitted">

      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="product.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          required
          [(ngModel)]="product.description"
          name="description"
        />
      </div>

       <div class="form-group">
        <label for="price">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          required
          [(ngModel)]="product.price"
          name="price"
        />
      </div>

        <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          class="form-control"
          id="quantity"
          required
          [(ngModel)]="product.quantity"
          name="quantity"
        />
      </div>

      <button (click)="createProduct()" class="btn btn-success">Save</button>
    </div>

 <div *ngIf="submitted">
      <h3>You successfully created a product!</h3>
      <button class="btn btn-success" (click)="newProduct()">New product</button>
    </div>
  </div>
</div>
