<div class="container">
<h1>Products</h1>
<div class="table-responsive">
<table class="table">
 <thead>
    <tr>
      <th scope="col">Product code</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">CreatedAt</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
<tbody>
    <tr
    *ngFor="let product of products"
    >
        <td>{{product._id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.createdAt}}</td>
        <td><button class="btn btn-danger" (click)="deleteProduct(product._id)">Delete</button></td>
        <td><button class="btn btn-warning" [routerLink]="['/products/', product._id]">Edit</button></td>
    </tr>
</tbody>

</table>

</div>
</div>
