<div>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Product Manager</a>
<div class="navbar-nav mr-auto">
<li class="nav-item">
  <a routerLink="products" class="nav-link">Product list</a>
</li>
<li class="nav-item">
  <a routerLink="create" class="nav-link">Create product</a>
</li>
</div>
</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
</div>
